html {
    height: 100%;
}

body {
    background-image: url('../image/bg.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-size: 30px;
}

div#content, #personal-information, #experience, #works-collection {
    max-width: 1000px;
    min-width: 500px;
    margin: 0 auto;
    background-color: rgba(51, 16, 91, 0.36);
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: white;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
}

img {
    display: block;
    margin: auto;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Bellefair', serif;
}

h2 {
    color: rgba(255, 252, 0, 0.5);
    font-size: 52px;
}

ul li {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

div#footer {
    text-align: center;
    font-family: 'Bellefair', serif;
    text-shadow: 1px 1px;
}
